{
  "parser": "babel-eslint",

  "extends": [
    "airbnb-base"
  ],

  "rules": {
    "max-len": ["error", {
      "code": 120,
      "ignoreUrls": true
    }],
    "no-restricted-syntax": "off",
    "no-console": "off"
  }
}
