{
  "parser": "babel-eslint",
  "extends": [
    "airbnb-base"
  ],
  "rules": {
    "max-len": [
      "error",
      {
        "code": 150,
        "ignoreUrls": true
      }
    ],
    "no-restricted-syntax": "off",
    "no-console": "off"
  }
}
